<h1>New division</h1>

<form action="/wizard_divide">
  <label for="julia">Divide this:</label>
  <input id="julia" name="first_number" text="text">

  <label for="kate">by this:</label>
  <input id="kate" name="second_num" text="text">

  <button>
    Divide!
  </button>
</form>
