
<!DOCTYPE html>
<html>
  <head>
    <title>Target: Omnicalc 2</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
  </head>

  <body>
    <table style="width: 100%" border="1">
      <tr>
        <td>
          <a href="/add">Add</a>
        </td>

        <td>
          <a href="/subtract">Subtract</a>
        </td>

        <td>
          <a href="/multiply">Multiply</a>
        </td>

        <td>
          <a href="/divide">Divide</a>
        </td>
      </tr>
    </table>
    <h1>New subtraction</h1>

<form action="/wizard_subtract">
  <label for="first_field">Subtract this:</label>
  <input type="text" id="first_field" name="first_num">

  <label for="second_field">from this:</label>
  <input type="text" id="second_field" name="second_num">

  <button>Subtract!</button>
</form>

  </body>
</html>
